<div id="back" class="h-100 w-100 m-0 p-0">
    <div class="row m-0 p-0 h-33">
        <div id="block1" class="col-4 h-100 overflow-hidden">
            <app-digital-clock *ngIf="digitalClock == 1"></app-digital-clock>
            <app-weather *ngIf="weather == 1"></app-weather>
            <app-stocks *ngIf="stocks == 1"></app-stocks>
            <app-news *ngIf="news == 1"></app-news>
            <app-santo *ngIf="santo == 1"></app-santo>
            <app-motivation *ngIf="motivation ==1"></app-motivation>
            <app-twitter *ngIf="twitter == 1"></app-twitter>

        </div>
        <div id="block2" class="col-4 h-100 overflow-hidden">
            <app-digital-clock *ngIf="digitalClock == 2"></app-digital-clock>
            <app-weather *ngIf="weather == 2"></app-weather>
            <app-stocks *ngIf="stocks == 2"></app-stocks>
            <app-news *ngIf="news == 2"></app-news>
            <app-santo *ngIf="santo == 2"></app-santo>
            <app-motivation *ngIf="motivation == 2"></app-motivation>
            <app-twitter *ngIf="twitter == 2"></app-twitter>

        </div>
        <div id="block3" class="col-4 h-100 overflow-hidden">
            <app-digital-clock *ngIf="digitalClock == 3"></app-digital-clock>
            <app-weather *ngIf="weather == 3"></app-weather>
            <app-stocks *ngIf="stocks == 3"></app-stocks>
            <app-news *ngIf="news == 3"></app-news>
            <app-santo *ngIf="santo == 3"></app-santo>
            <app-motivation *ngIf="motivation == 3"></app-motivation>
            <app-twitter *ngIf="twitter == 3"></app-twitter>

        </div>
    </div>
    <div class="row m-0 p-0 h-33">
        <div id="block4" class="col-4 h-100 overflow-hidden">
            <app-digital-clock *ngIf="digitalClock == 4"></app-digital-clock>
            <app-weather *ngIf="weather == 4"></app-weather>
            <app-stocks *ngIf="stocks == 4"></app-stocks>
            <app-news *ngIf="news == 4"></app-news>

            <app-santo *ngIf="santo == 4"></app-santo>
            <app-motivation *ngIf="motivation == 4"></app-motivation>
            <app-twitter *ngIf="twitter == 4"></app-twitter>

        </div>
        <div id="block5" class="col-4 h-100 overflow-hidden">
            <app-digital-clock *ngIf="digitalClock == 5"></app-digital-clock>
            <app-weather *ngIf="weather == 5"></app-weather>
            <app-stocks *ngIf="stocks == 5"></app-stocks>
            <app-news *ngIf="news == 5"></app-news>
            <app-santo *ngIf="santo == 5"></app-santo>
            <app-motivation *ngIf="motivation == 5"></app-motivation>
            <app-twitter *ngIf="twitter == 5"></app-twitter>

        </div>
        <div id="block6" class="col-4 h-100 overflow-hidden">
            <app-digital-clock *ngIf="digitalClock == 6"></app-digital-clock>
            <app-weather *ngIf="weather == 6"></app-weather>
            <app-stocks *ngIf="stocks == 6"></app-stocks>
            <app-news *ngIf="news == 6"></app-news>
            <app-santo *ngIf="santo == 6"></app-santo>
            <app-motivation *ngIf="motivation == 6"></app-motivation>
            <app-twitter *ngIf="twitter == 6"></app-twitter>

        </div>
    </div>
    <div class="row m-0 p-0 h-33">
        <div id="block7" class="col-4 h-100 overflow-hidden">
            <app-digital-clock *ngIf="digitalClock == 7"></app-digital-clock>
            <app-weather *ngIf="weather == 7"></app-weather>
            <app-stocks *ngIf="stocks == 7"></app-stocks>
            <app-news *ngIf="news == 7"></app-news>
            <app-santo *ngIf="santo == 7"></app-santo>
            <app-motivation *ngIf="motivation == 7"></app-motivation>
            <app-twitter *ngIf="twitter == 7"></app-twitter>

        </div>
        <div id="block8" class="col-4 h-100 overflow-hidden">
            <app-digital-clock *ngIf="digitalClock == 8"></app-digital-clock>
            <app-weather *ngIf="weather == 8"></app-weather>
            <app-stocks *ngIf="stocks == 8"></app-stocks>
            <app-news *ngIf="news == 8"></app-news>
            <app-santo *ngIf="santo == 8"></app-santo>
            <app-motivation *ngIf="motivation == 8"></app-motivation>
            <app-twitter *ngIf="twitter == 8"></app-twitter>

        </div>
        <div id="block9" class="col-4 h-100 overflow-hidden">
            <app-digital-clock *ngIf="digitalClock == 9"></app-digital-clock>
            <app-weather *ngIf="weather == 9"></app-weather>
            <app-stocks *ngIf="stocks == 9"></app-stocks>
            <app-news *ngIf="news == 9"></app-news>
            <app-santo *ngIf="santo == 9"></app-santo>
            <app-motivation *ngIf="motivation == 9"></app-motivation>
            <app-twitter *ngIf="twitter == 9"></app-twitter>
        </div>
    </div>
</div>