<div id="back" class="h-100 w-100 m-0 p-0">
    <div class="row m-0 p-0 h-33">
        <div id="block1" class="col-4">
            <app-digital-clock *ngIf="digitalClock == 1"></app-digital-clock>
            <app-weather *ngIf="weather == 1"></app-weather>
            <app-stocks *ngIf="stocks == 1"></app-stocks>
            <app-news></app-news>
        </div>
        <div id="block2" class="col-4">
            <app-digital-clock *ngIf="digitalClock == 2"></app-digital-clock>
            <app-weather *ngIf="weather == 2"></app-weather>
            <app-stocks *ngIf="stocks == 2"></app-stocks>

        </div>
        <div id="block3" class="col-4">
            <app-digital-clock *ngIf="digitalClock == 3"></app-digital-clock>
            <app-weather *ngIf="weather == 3"></app-weather>
            <app-stocks *ngIf="stocks == 3"></app-stocks>
        </div>
    </div>
    <div class="row m-0 p-0 h-33">
        <div id="block4" class="col-4">
            <app-digital-clock *ngIf="digitalClock == 4"></app-digital-clock>
            <app-weather *ngIf="weather == 4"></app-weather>
            <app-stocks *ngIf="stocks == 4"></app-stocks>

        </div>
        <div id="block5" class="col-4 m-0 p-0">
            <app-digital-clock *ngIf="digitalClock == 5"></app-digital-clock>
            <app-weather *ngIf="weather == 5"></app-weather>
            <app-stocks *ngIf="stocks == 5"></app-stocks>

        </div>
        <div id="block6" class="col-4">
            <app-digital-clock *ngIf="digitalClock == 6"></app-digital-clock>
            <app-weather *ngIf="weather == 6"></app-weather>
            <app-stocks *ngIf="stocks == 6"></app-stocks>

        </div>
    </div>
    <div class="row m-0 p-0 h-33">
        <div id="block7" class="col-4">
            <app-digital-clock *ngIf="digitalClock == 7"></app-digital-clock>
            <app-weather *ngIf="weather == 7"></app-weather>
            <app-stocks *ngIf="stocks == 7"></app-stocks>

        </div>
        <div id="block8" class="col-4">
            <app-digital-clock *ngIf="digitalClock == 8"></app-digital-clock>
            <app-weather *ngIf="weather == 8"></app-weather>
            <app-stocks *ngIf="stocks == 8"></app-stocks>

        </div>
        <div id="block9" class="col-4">
            <app-digital-clock *ngIf="digitalClock == 9"></app-digital-clock>
            <app-weather *ngIf="weather == 9"></app-weather>
            <app-stocks *ngIf="stocks == 9"></app-stocks>

        </div>
    </div>
</div>