<div class="row h-100 justify-content-center">
    <div class="align-self-center stock">
        <div class="row justify-content-center">[{{stocks?.data[0].symbol}}]</div>
        <div class="row justify-content-center">{{stocks?.data[0].adj_close}}$<span class="currency"></span>
            <span class="max-min ml-2"></span>
        </div>
        <div class="row justify-content-center">
            <span class="max-min ml-2"><span >Max: {{stocks?.data[0].adj_high}}$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Min: {{stocks?.data[0].adj_low}}$</span></span>
        </div>
    </div>
</div>