<div class="row h-100 justify-content-center">
    <div class="align-self-center stock">
        <div class="row justify-content-center">{{stocks?.data[0].name}} ({{stocks?.data[0].symbol}})</div>
        <div class="row justify-content-center">{{stocks?.data[0].price}}<span class="currency">{{stocks?.data[0].currency}}</span>
            <span class="max-min ml-2"><span *ngIf="stocks?.data[0].day_change>0">+</span>{{stocks?.data[0].day_change}}<span class="currency">{{stocks?.data[0].currency}}</span> ({{stocks?.data[0].change_pct}}%)</span>
        </div>
    </div>
</div>